.blog-body {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 1.3em 1.3em;
}

.blog-body * {
    max-width: 100%;
}

.blog-body-content {
    text-align: justify;
    line-height: 30px;
}

.blog-body-content img {
    height: auto;
    display: block;
    margin: 0 auto;
}

.blog-body-content td {
    padding-left: 0;
    padding-right: 0;
}

.blog-body-content a {
    color: #ff9900;
}

.blog-body-content iframe {
    border: none;
}

.blog-body-content iframe.BLOG_video_class, .blog-body-content iframe.YOUTUBE-iframe-video {
    width: 100%;
}

@media only screen and (min-width: 532px) {
    .blog-body-content iframe.BLOG_video_class, .blog-body-content iframe.YOUTUBE-iframe-video {
        height: 453px;
    }
}

.blog-body-info {
    font-size: 16px;
    padding-bottom: 15px;
}

.blog-body-info > *:nth-child(2) {
    margin-left: 40px;
}

.blog-body-author-img {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-top: -6px;
    cursor: pointer;
}

.blog-body-content a {
    margin: 0 !important;
}

.blog-body-content > div.separator:first-child a > img {
    margin: 0 !important;
    width: 100%;
}