.home-chat-container > * {
    height: 100%;
    width: 100%;
}

.home-chat-overlay {
    background-color: #36393e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-chat-overlay button {
    background-color: #424242;
}

.home-chat-overlay button i {
    padding-right: 10px;
}