.login-form {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 40px;
}

.login-form form label {
    display: inherit;
    margin: 20px 0;
}

.login-form form span {
    font-size: 13px;
}

.login-form form label i {
    padding-right: 10.56px;
}

.login-form .login-action {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}

.login-form .dropimage {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    padding-bottom: 0;
}

@media only screen and (min-width: 1000px) {
    .login-form form label {
        float: left;
    }

    .login-form .dropimage {
        float: right;
    }
}