body {
  background-color: #f5f5f5;
  color: #616161;
  user-select: none;
  font-family: 'Cabin Condensed', sans-serif;
  transition: background-color 1s, color 1s;
}

* {
  outline-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

a, code {
  color: #575757;
}

.footer {
  width: 100%;
  height: 10px;
  font-size: 13px;
  background-color: #151515;
  color: #ffffff;
  padding: 0 .6em 190px;
  margin-top: 60vh;
  position: static;
  transition: background-color 1s;
}

.footer a {
  color: #ffffff;
}

::-webkit-scrollbar {
  background-color: #393939;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #424242;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center-align {
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.side-scroll, .mobile-scroll {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100vw;
}

.result-switch.flex {
  margin-top: -6px;
}

.result-switch button {
  margin: 6px 9px;
  background-color: #575757;
  transition: background-color 1s;
}

.list-switch-buttons {
  text-align: center;
}

.list-switch-buttons button {
  min-width: 100px;
  border: solid 1px #151515;
  transition: background-color 1s, border 1s;
}

.list-switch-buttons button.active {
  background-color: #ffffff;
  box-shadow: none;
  color: #000000;
}

.list-switch-buttons button i {
  padding-right: 5px;
}

.nav-menu-content > div, .bottom-bar > .flex, .footer > div {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-menu,
.nav-menu-content {
  background-color: #ffffff;
  height: 50px;
  transition: background-color 1s;
}

.nav-menu-content > div {
  height: inherit;
}

.nav-button.pseudo {
  color: #ffffff;
}

.nav-search {
  width: 626px;
  max-width: 50%;
  position: relative;
  float: right;
}

.nav-search input {
  background-color: #e7e7e7;
  color: #151515;
  border: none;
  opacity: 0;
  width: 40px;
  float: right;
}

.nav-search input:focus {
  width: 100%;
}

.nav-buttons {
  max-width: 40%;
  float: left;
  position: absolute;
  white-space: nowrap;
}

.nav-buttons a, .nav-buttons button {
  background-color: transparent;
  color: #575757;
  transition: color 1s;
}

@media only screen and (max-width: 767px) {
  .dropdown-content {
    display: none;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 100vh;
    width: 240px;
    margin-left: -11px;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
  }

  .dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

@media only screen and (min-width: 767px) {
  .dropbtn {
    display: none;
  }
}

.nav-search i {
  color: #575757;
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: color 1s;
}

.nav-search,
.nav-search input {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .nav-search i {
    color: #9e9e9e;
  }

  .nav-search input {
    width: 100%;
    opacity: 1;
  }

  .nav-search input:focus {
    width: 100%;
  }

  .nav-buttons {
    position: static;
    max-width: 27%;
  }

  .result-switch.mobile-scroll {
    display: flex;
    flex-wrap: wrap;
    overflow-x: visible;
    overflow-y: visible;
  }
}

.content-wrapper-container.flex {
  max-width: 1390px;
  margin: 0 auto;
}

.content-wrapper {
  position: relative;
  max-width: 1390px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.main-container {
  background-color: #ffffff;
  transition: background-color 1s;
}

.bottom-bar, .music-player {
  right: 0;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  text-align: center;
  margin-top: .2em;
  z-index: 3;
  transition: background-color 1s;
}

.bottom-bar-button, .music-player-button {
  text-align: center;
  color: #575757;
  padding-top: .17em;
  transition: color 1s;
  cursor: pointer;
}

.post-actions > *:hover, .bottom-bar-button:hover, .music-player-button:hover {
  background-color: #d6d6d6;
}

.music-player {
  height: 120px;
  padding-top: 0;
}

.music-player.show-music-video {
  height: 280px;
}

.music-player.show-music-video .music-player-info img {
  display: none;
}

.music-player-info img {
  float: left;
  padding: 0;
  margin-right: 3px;
}

.music-player-contents {
  height: calc(100% - 66px);
  margin: 0;
}

.music-player-contents * {
  max-height: 100%;
}

.music-player-contents .flex > *, .music-player-contents.flex > * {
  padding: 0;
}

.music-player-info, .music-player-info * {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

.music-player-info.half, .music-player-controls.half {
  padding: 0 5px;
}

.music-player-info h6 {
  opacity: 0.7;
}

.music-player-button {
  line-height: 53px;
}

.flex .flex-padding-reset {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

@media only screen and (max-width:699px) {
  .flex-margin-reset {
    position: absolute;
    width: 100vw;
    left: calc(-50vw + 50%);
  }

  .flex-margin-reset.extend-padding {
    padding-bottom: 90px;
  }
}

@media only screen and (min-width:700px) and (max-width:999px) {
  .flex-margin-reset {
    padding-top: 0.3em;
  }
}

.flex-margin-reset.desktop {
  padding-top: 0;
  position: absolute;
  width: 100vw;
  left: calc(-50vw + 50%);
}

@media only screen and (min-width:1000px) {
  .flex-margin-reset.desktop {
    margin-top: -0.3em;
  }
}

.center-element {
  margin: 0 auto;
  display: block;
}

.left-divider {
  border-left: 1px solid;
}

.right-divider {
  border-right: 1px solid;
}

.top-divider {
  border-top: 1px solid;
}

.bottom-divider {
  border-bottom: 1px solid;
}

.left-divider, .right-divider, .top-divider, .bottom-divider {
  border-color: rgba(189, 189, 189, 0.5);
}

.pointer {
  cursor: pointer;
}

.dismiss-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.panel-body {
  z-index: 10001;
  height: 100%;
  width: 100%;
  background-color:rgba(255, 255, 255, 0.75);
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  transition: background-color 1s;
}