.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    transform: scale(0.6);
    margin-bottom: -45px;
    padding-bottom: 28px;
}

.vjs-quality-selector .vjs-icon-placeholder:before {
    content: '\f110'
}

.vjs-paused:not(.vjs-has-started) video[poster],
.vjs-waiting video[poster] {
    object-fit: cover;
}

.video-js .vjs-poster {
    background-size: cover;
    background-position: center;
}

.vjs-icon-theatermode {
    font-family: VideoJS;
    font-weight: normal;
    font-style: normal;
}

.vjs-icon-theatermode:before {
    content: "\f10b";
    font-size: 1.4em
}

.video-js.vjs-hide-player {
    display: none;
}

#mini-player {
    width: 320px;
    max-width: 60%;
    top: 60px;
    right: 10px;
    padding: 0;
    z-index: 1000001;
    position: fixed;
}

#mini-player video-js, #mini-player iframe {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
}

#mini-player .video-js:not(.vjs-fullscreen) .vjs-control-bar > :not(.vjs-play-control):not(.vjs-custom-control-spacer):not(.vjs-volume-panel):not(.vjs-progress-control):not(.vjs-picture-in-picture-control):not(.vjs-fullscreen-control) {
    display: none;
}