#settings-panel {
    z-index: 10002;
}

#settings-panel .user-panel-profile .icon-cog {
    margin-right: 5px;
}

.settings-option-container {
    padding: 10px 10px;
}

.settings-option {
    /* width: 100%; */
    line-height: 150px;
    background-color: #ffffff;
    border: 1.5px solid #000000;
    color: #000000;
    cursor: pointer;
    /* padding-left: 10px; */
    transition: none;
    box-shadow: none;
}

.settings-option:hover, .settings-option:focus {
    color: #ffffff;
    background-color: #000000;
    border: 1.5px solid #ffffff;
}

.settings-option i {
    padding-right: 7px;
}