.showcase-container div {
    width: 100%;
    height: 80px;
    background-color: #e7e7e7;
    overflow: hidden;
    display: flex;
    transition: background-color 1s, color 1s;
}

.showcase-container img {
    width: 148px;
    height: 90%;
    position: relative;
    padding: 0 5px;
}

.showcase-container span {
    width: calc(100% - 148px);
    padding-right: 5px;
}