.user-panel-button {
    float: right;
    margin-top: 3px;
    margin-left: 15px;
    font-size: 30px;
    cursor: pointer;
}

.user-panel-button > div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7px;
}

.user-panel-button > div + i {
    display: none;
}

.user-panel-profile {
    padding: 10px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
}

.user-panel-profile a {
    color: #ffffff;
}

.user-panel-profile a > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 31%;
}

.user-panel-profile img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 10px;
}

.user-panel-profile .pointer.left, .user-panel-profile .pointer.right {
    margin-left: 20px;
}

@media only screen and (min-width: 610px) {
    .user-panel-list {
        max-width: 75%;
        margin: 0 auto;
    }
}

@media only screen and (min-width:1000px) {
  .user-panel-button {
    margin-right: 15px;
  }
}