.watch-content-container .third-700 {
    padding-bottom: 120px;
}

@media only screen and (min-width:700px) {
    .watch-content-container .third-700 {
        overflow-y: scroll;
        height: 100vh;
    }
}

.watch-content-container .third-700 > * {
    margin-bottom: .6em;
}

.episode-info-card {
    max-height: 35vh;
    height: 253px;
    margin-bottom: 0;
}

.episode-info-card header h3 {
    padding-left: 0.2em;
}

.episode-info-card h4 {
    color: #ffffff;
}

.episode-info-card p, .episode-info-card h4 {
    margin-top: -6px;
    padding: 0 0 4px 0;
}

.episode-info-card section > img {
    float: left;
    margin-right: .3em;
    padding-bottom: 0;
    max-width: 50%;
}

.episode-info-card section > div {
    margin-top: -6px;
}

.episode-info-card section > div {
    line-height: 1.4;
}

.episode-info-card .subtitle {
    display: block;
}

.modal.source-select-modal article {
    background-color: #212121;
}

.show-more {
    height: 40px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.season-list-button {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.season-list-button i {
    padding-right: 0.5em;
}

.episode-list .tabs .toggle {
    color: #ffffff;
}

.episode-list .number, .episode-list .language {
    white-space: nowrap;
}

.episode-list .table-selectable tr {
    height: 68px;
}

.source-table-body {
    text-transform: capitalize;
}

.table-container {
    overflow-x: scroll;
}

.table-selectable {
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    background-color: #424242;
}

.table-selectable td {
    padding-right: 0.6em;
}

.table-selectable tr.selected, .table-selectable tr:hover {
    background-color: #000000;
}

.list-header {
    padding: 0 0 10px 0;
    line-height: 0;
}

.list-header span {
    margin: 0;
}