.watch-content-container {
    max-width: 1065px;
    width: 100%;
    padding-top: .3em;
}

.episode-info-card {
    max-height: 35vh;
    height: 253px;
    margin-bottom: 0;
}

.series-info-card {
    height: 341px;
    margin-bottom: 0;
}

.episode-info-card p {
    margin-top: -6px;
    float: right;
    padding-left: 10px;
}

.episode-info-card .subtitle, .series-info-card .subtitle {
    display: block;
}

.modal.source-select-modal article {
    background-color: #212121;
}

.show-more {
    height: 40px;
    padding-top: 5px;
    margin-bottom: .6em;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.season-list-button {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.season-list-button i {
    padding-right: 0.5em;
}

.episode-list .tabs .toggle {
    color: #ffffff;
}

.episode-list .number, .episode-list .language {
    white-space: nowrap;
}

.episode-list .table-selectable tr {
    height: 68px;
}

.source-table-body {
    text-transform: capitalize;
}

.table-container {
    overflow-x: scroll;
}

.table-selectable {
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    background-color: #424242;
}

.table-selectable td {
    padding-right: 0.6em;
}

.table-selectable tr.selected, .table-selectable tr:hover {
    background-color: #000000;
}

.list-header {
    padding: 0 0 10px 0;
    line-height: 0;
}

.list-header span {
    margin: 0;
}

@media only screen and (min-width: 700px) {
    .watch-content-container {
        margin: 0 auto;
        padding-top: 20px;
    }
}