.welcome-message {
    padding: 0 40px;
    text-align: center;
}

.welcome-message h1 span {
    color: #ff9900;
}

.welcome-message h1, .welcome-message h2 {
    padding: .2em 0;
}

.welcome-message p {
    display: none;
}

.welcome-message p i {
    padding-right: 5px;
}

.welcome-message i.icon-facebook-squared {
    color: #3C5A99;
}

.welcome-message i.icon-twitter-squared {
    color: #1DA1F2;
}

.welcome-message i.icon-instagram {
    color: #E1306C;
}

.welcome-message i.icon-youtube-play {
    color: #FF0000;
}

.welcome-message i.icon-reddit {
    color: #FF4500;
}

.welcome-message i.icon-comment {
    color: #7289DA;
}

.welcome-message i.icon-mail-alt, .welcome-message p a:hover {
    color: #575757;
}

.welcome-message .is-home p {
    display: block;
}

@media only screen and (min-width: 700px) {
    .welcome-message {
        text-align: left;
    }

    .welcome-message p {
        display: block;
    }
}